<h2> Edit User </h2>

<%= form_for @user do |f| %>

<%= f.label "First Name:" %> <br>
<%= f.text_field :fname, value: @user.fname %> <br>

<%= f.label "Last Name:" %> <br>
<%= f.text_field :lname, value: @user.lname %> <br>

<%= f.label "Username:" %><br>
<%= f.text_field :username, value: @user.username %> <br>

<%= f.label "Password:" %><br>
<%= f.password_field :password, value: @user.password %><br>

<%= f.submit %>

<% end %>