

<div id = "sign_up_form">
  <h2 class = "pageheader" > Sign Up </h2>
  <%= form_for @user do |f| %>
  
  <p><%= f.text_field( :fname, placeholder: "First Name", class: "form_fields_signup") %></p>
  <p><%= f.text_field( :lname, placeholder: "Last Name", class: "form_fields_signup") %></p>
  <p><%= f.text_field( :username, placeholder: "Username", class: "form_fields_signup") %></p>
  <p><%= f.password_field( :password, placeholder: "Password", class: "form_fields_signup") %></p>
  <p><%= password_field_tag( :password_confirmation, nil, placeholder: "Password Confirmation", class: "passconfirm_form") %></p>
  <br>
    <%= f.submit("Submit", class: "submit_form") %>

  <% end %>
</div>