<<<<<<< HEAD
<h2 class = "pageheader" > Sign Up Page </h2>

<table id = "signuptable">
  <%= form_for @user do |f| %>
  <tr>
    <td><%= f.label "First Name:" %></td>
    <td><%= f.text_field :fname %><td>
  </tr>

  <tr>
    <td><%= f.label "Last Name:" %></td>
    <td><%= f.text_field :lname %></td>
  </tr>

  <tr>
    <td><%= f.label "Username:" %></td>
    <td><%= f.text_field :username %></td>
  </tr>

  <tr>
    <td><%= f.label "Password:" %></td>
    <td><%= f.password_field :password %></td>
  </tr>
    
  <tr>
    <td><%= f.label "Password Confirmation:" %></td>
    <td><%= password_field_tag :password_confirmation %></td>
  </tr>

  <tr>
    <td><%= f.submit :create %></td>
  </tr>

  <% end %>
=======
>>>>>>> refs/remotes/origin/master

</table>