<br><br><br>
<h2 id="comments_header"> Comments Page </h1>
<div id= "comment_wrapper">
 <div id= "post_body_wrapper">
  <%= @post.body %>
 </div>

  <div id= "comment_form">
    <%= form_for Comment.new do |f|%>
      <%= f.label( :comment, class: "comment_label")%>
      <%= f.text_area( :entry, size: "96x4", class: "comment_text") %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <br>
      <%= f.submit( :submit, class: "comment_submit") %>  

    <% end %>

  </div>

  <div id="previous_comments_wrapper">
    <h3 id="commentsheader"> Comments: </h3>
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.entry %>
      </p>

    <p>
       Posted by <%= User.find_by_id(comment.user_id).username %>
       at <%= comment.created_at %>
    </p>

  <% end %>
  </div>
</dvi>