<%= @post.body %>


<%= form_for Comment.new do |f|%>
  <%= f.label :entry %>
  <%= f.text_area :entry %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <br>
  <%= f.submit :submit %>  

<% end %>


<% @post.comments.each do |comment| %>
  <p>
    <%= comment.entry %>
  </p>

<p>
   Posted by <%= User.find_by_id(comment.user_id).username %>
   at <%= comment.created_at %>
</p>
<% end %>