<!DOCTYPE html>

<html>

  <head>

    <title>Sports Blog</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="basketballblog.css"/>

  </head>

  <body>

    <div id = "pagecontainer">

    <header>

      <div id="flashalert">

        <% if flash[:alert] %>
         <%= flash[:alert] %>
        <% end %>
      </div>

      <h1> BasketballBlog </h1>

       <nav>

        <ul>
          <li> <%= link_to "Login", new_session_path %> </li>
          <li> <%= link_to "Feeds", posts_path %> </li>
          <li> <%= link_to "New Post", new_post_path %></li>
          <li> My Profile</li>
          <li> <%= link_to "Blog Users", users_path %></li>
          <li> <%= link_to "Sign Up", new_user_path %> </li>
          <li> <%= link_to "Sign Out", '/logout', method: :delete %> </li>
        </ul>

      </nav>

    </header>

    <%= yield %>

    </div> <!-- end of pagecontainer -->

  </body>

</html>
